##
# Aliases

#genkey function is defined in the function file in order to pass parameters.
alias gen-ssh-key='genkey'

#Reloads Bash
alias bash_reload='source ~/.bashrc'

#Color
alias ls='ls --color' 
alias grep='grep --color' 

#Added for compatibility with old servers.
alias ssh='TERM=xterm ssh'
