##
# Aliases

#genkey function is defined in the function file in order to pass parameters.
alias gen-ssh-key='genkey'

#Reloads Bash
alias bash_reload='source ~/.bashrc'

#Color

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then 
# GNU `ls`	
  colorflag="--color"else 
# OS X `ls`	
  colorflag="-G"
fi

alias l="ls -lF ${colorflag}"
alias grep='grep --color' 

#Added for compatibility with old servers.
alias ssh='TERM=xterm ssh'

#ansible sintax check
alias ansible-check='ansible-playbook --syntax-check --list-tasks'

#Gives you the most used commands, master these.
alias master_these='most-used-commands'
