##
# Functions

#genkey generates an ssh keypair.
#Accepts a parameter for it's file name
#EMAIL should be defined in the exports file.
genkey (){
ssh-keygen -t rsa -b 4096 -C $EMAIL -f ~/.ssh/id_rsa_$1
}

#AWK script to calculate most used commands.
#Should check every now and then and master these commands.
most-used-commands(){
history | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl |  head -n10
}
