[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	# View the current working tree status using the short format
	s = status -s
	# List contributors
	contributors = shortlog --summary --numbered
    # unstages a file. use like 'git unstage filename'
    rf = reset HEAD --
    # resets all uncomitted changes and files
    rh = reset --hard HEAD
    # shows diff only for files staged to commit
    new = diff --cached
    # undo last commit
    undo = reset HEAD~1

[core]
	editor = vim

[push]
	default = simple

[include]
	#.git-user contains the user information.
	path = .git-user
